<html>

<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    var input_data = {{ data | safe}};
    function drawChart() {
      var data = google.visualization.arrayToDataTable(input_data);

      var options = {
        title: 'Car traffic in Ganna',
        curveType: 'function',
        legend: { position: 'bottom' }
      };
      var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));
      //var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(data, options);
    }
  </script>
</head>

<body>
  <table>
    <tr>
      <th>
        <div id="curve_chart" style="width: 700px; height: 500px"></div>
      </th>
      <th>
        <img src="https://www.astrogeo.va.it/data/webcam/current/ganna.jpg" alt="Ganna" width="500">
      </th>
    </tr>
  </table>
</body>

</html>